<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
<form action="{% url 'movies:vote' movie.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>{{ movie.movie_text }}</h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{#        {% for choice in question.choice_set.all %}#}
{#        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">#}
{#        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>#}
{#        {% endfor %}#}
        <p>{{ movie.director }} | {{ movie.release_date }} | {{ movie.imdb_score }} | {{ movie.votes }}</p>
    </fieldset>
    <input type="submit" value="Vote">
</form>
</body>
</html>