<h1>Multimedia Manager</h1>

<h2>Files</h2>

<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Format</th>
            <th>Path</th>
            <th>Size(KB)</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let file of files">
            <td>{{file.fid}}</td>
            <td>{{file.title}}</td>
            <td>{{file.file_format}}</td>
            <td>{{file.path}}</td>
            <td>{{file.size}}</td>
        </tr>
    </tbody>
</table>